/* Custom styles for profile inputs */
.form-control:focus {
  background-color: #212529;
  color: #fff;
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25);
}

.input-group-text {
    border-color: #6c757d;
}
